@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
body{
    display: flex;
    flex-direction: column; /*stack h1 and canvas on top of each other*/
    align-items: center;
    padding: 0;
    margin: 0;
    /* viewport -gradient background 
    100 of vh (viewport height)*/
    height: 100vh; 
    background-image: url("./img/space.jpg");
    position: relative;

    /* background: linear-gradient(
        0deg,
        rgb(17, 51, 161) 0%,
        rgb( 136, 34, 195) 100%
    ); */
}

#game {
    position: relative;
    touch-action: none;
}

h1{
    margin: 0px;
    margin-bottom: 10px;
    font-size: 2.9em;
    color: lightgray;
}


h2{
    margin: 0px;
    margin-top: 200px;
    font-size: 2.9em;
    color: lightgray;
    position:absolute;
}

p{
    color: white;
}
